body{
    background-image: url("https://pm1.narvii.com/6450/c2ff2f7a5331e0552ea52c47a73ed8fd75f7da1f_hq.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}