body{
    background-image: url("http://1.bp.blogspot.com/-c8D3ADPoq6g/VpGSGf9Mp1I/AAAAAAAAbJs/l6Pqe8CAdAo/s1600/Paisaje%2B4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
